
@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4  class="user-select-all" style="color:darkblue; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing:2px;font-size:38px;">@Model.Title</h4>

        <span lang="badge bg-info" style="float:right;">
            <span class="user-select-all">ISBN: @Model.Isbn</span>
            <br />
            <span style="color:lightcoral">Price: $@Model.Price</span>
        </span>
    </div>
    <ul>
        <li class="user-select-all">Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>Classification: @Model.Classification</li>
        <li>Page Count: @Model.PageCount</li>
    </ul>
    <br />

    <form method="post" asp-page="/AddToCart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add To Cart</button>
        </span>
    </form>

</div>

