<table class="table table-sm table-hover table-striped table-bordered shadow p-3 mb-5 bg-body rounded">
    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Checkouts?.Count() > 0)
        {
            @foreach (Checkout c in Checkouts)
            {
                <tr>
                    <td  class="user-select-all">@c.Name</td>
                    <td  class="user-select-all">@c.Zip</td>
                    <th>Book Title</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderShipped.InvokeAsync(c.CheckoutId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in c.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td class="user-select-all">@bli.Book.Title</td>
                        <td class="user-select-all">@bli.Quantity</td>
                    </tr>
                }
            }
        }
        else
            {
                <tr>
                    <td colspan="5" class="text-center">No Orders Have Been Shipped</td>
                </tr>
            }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Order Status";

    [Parameter]
    public IEnumerable<Checkout> Checkouts { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderShipped { get; set; }

}
