@page "/admin/books/details/{id:long}"


<h3 class="bg-info text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped shadow p-3 mb-5 bg-body rounded">
    <tbody>
        <tr>
            <th>Book ID:</th>
            <td  class="user-select-all">@book.BookId</td>
        </tr>
        <tr>
            <th>Book Title:</th>
            <td class="user-select-all">@book.Title</td>
        </tr>
        <tr>
            <th>Author:</th>
            <td class="user-select-all">@book.Author</td>
        </tr>
        <tr>
            <th>Publisher:</th>
            <td class="user-select-all">@book.Publisher</td>
        </tr>
        <tr>
            <th>Classification:</th>
            <td class="user-select-all">@book.Classification</td>
        </tr>
        <tr>
            <th>Category:</th>
            <td class="user-select-all">@book.Category</td>
        </tr>
        <tr>
            <th>ISBN:</th>
            <td class="user-select-all">@book.Isbn</td>
        </tr>
        <tr>
            <th>Page Count:</th>
            <td class="user-select-all">@book.PageCount</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td class="user-select-none">@book.Price</td>
        </tr>
    </tbody>
</table>


<NavLink class="btn btn-warning shadow mb-2 rounded" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary shadow mb-2 rounded" href="/admin/books">Back</NavLink>


@code {

    [Inject]
    public IOnlineBookstoreRepository repo { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Book book { get; set; }

        protected override void OnParametersSet()
        {
            book = repo.Books.FirstOrDefault(x => x.BookId == Id);
        }

    public string EditUrl => $"/admin/books/edit/{book.BookId}";


}
