@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1>The Online Bookstore</h1>

@foreach (Book b in Model.Books)
{
    <h3>Book Title: @b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: $@b.Price</li>
    </ul>
    <br />
}

<div page-blah="@Model.PageInfo" page-action="Index"></div>